@font-face {
    font-family: 'Bodoni BT';
    src: url(fonts/BODONIB.TTF);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 1rem = 10px */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

/* UTILITY CLASSES */
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    position: relative;

    width: 100vw;
    min-height: 100vh;

    background: linear-gradient(to right, #FF6C00 0%, #282D4F 65%);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 1rem;
}

/* Background overlay */
.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100vw;
    height: 100%;

    background-image: url(img/bg-image.png);
    background-size: 110%;
}

.container {
    position: relative;

    background-color: #F7F5EB;

    min-height: 44rem;
    padding: 1rem;
}

.orange-rectangle {
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: 1;

    width: 10rem;
    height: 54.1rem;
    background-color: #FF6C00;
}

/* -------------- */
/* HEADER STYLES */
/* ------------ */
header {
    position: relative;
    z-index: 99;

    background-color: #151718ef;
    border-radius: 1.5rem;

    padding: 1rem 2rem;
}

/* Logo and hamburger menu icon container */
.header-container {
    align-items: center;
    justify-content: space-between;
}

/* Logo */
#logo {
    width: 6rem;
}

/* Hamburger icon */
#open-menu-icon {
    color: #ffffff;
    font-size: 4rem;
}

/* Nav menu styles */
.nav-menu {
    padding: 1.5rem;
    display: none;
}

/* List styles */
.nav-menu li {
    font-size: 1.6rem;
    color: #ffffff;
}

/* Nav link styles */
.nav-link {
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
}

/* ------------ */
/* MAIN STYLES */
/* ---------- */
main {
    position: relative;
    z-index: 99;

    margin-top: 2rem;
}

.main-headline {
    font-family: 'Bodoni BT';
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: #0B666A;
    line-height: 1.8rem;
}

.main-text-container {
    position: relative;

    min-height: 20rem;
    width: calc(100vw - 13rem);
    margin-top: 7rem;

    background-color: rgb(0, 0, 0, 0.6);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.text-container {
    justify-content: space-between;
    padding: 2rem 1rem;

    height: 30rem;
    width: calc(100% - 8rem);
}

.text-container h2 {
    font-size: 1.2rem;
    color: #ffffff;
}

#cat-poster {
    position: absolute;
    right: -10rem;
    top: -6rem;
    width: 18rem;
}

.quote-div {
    align-items: center;

    border: 1px solid #0B666A;
    border-radius: 5px;

    margin-top: 2rem;
    padding: 1rem 0;
}

.cat-owner {
    width: 15rem;
    border-radius: 50%;
}

.quote {
    font-size: 1.6rem;
    text-align: center;
    color: #3EB883;
}

.second-headline {
    text-align: center;
    color: #ffffff;

    padding: 1.5rem;
    margin-top: 2rem;

    background-color: rgb(0, 0, 0, 0.6);

    border-radius: 5px;
}

.introduction {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
}

.gradient {
    background: linear-gradient(to right, #282D4F, #A0204C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-list {
    gap: 2rem;

    margin-top: 2rem;
    padding: 2rem 1rem;

    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 1.5rem;
}

.li-container {
    gap: 1.5rem;
}

.menu-list h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    list-style: none;
}

.menu-list i {
    font-size: 2.4rem;
    color: #3EB883;
}

.before-after-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 2rem;
}

.ba-img-div {
    align-items: center;
    gap: 1rem;
}

.ba-image {
    width: 100%;
    border: 5px solid #A0204C;
    border-radius: 1.5rem;
}

.ba-img-div h2 {
    font-family: 'Bodoni BT';
    font-size: 1.8rem;
    color: #fff;

    padding: 0.5rem 2rem;
    background: linear-gradient(to right, #282D4F 35%, #FF6C00);

    border: 3px solid #282D4F;
    border-radius: 5px;
}

.main-poster-container {
    justify-content: center;

    width: 100%;
    margin-top: 2rem;
}

#main-poster {
    width: 30rem;

    border: 5px solid #0B666A;
}

.btn-container {
    justify-content: center;
    margin: 2rem 0;
}

.free-guide-btn {
    font-family: 'Bodoni BT';
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    background: linear-gradient(to right, #282D4F, #A0204C);
    padding: 1.5rem;
    margin-bottom: 3rem;

    border: 3px solid #282D4F;
    border-radius: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 1.5rem;
    background-color: #59387A;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    width: 100%;
}

footer h2 {
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

/* ------------------------- */
/* TABLET SCREEN BREAKPOINT */
/* ----------------------- */

@media screen and (min-width: 768px) {
    /* Increase padding for body and container */
    body, .container {
        padding: 2rem;
    }

    /* Increase width and height of orange rectangle */
    .orange-rectangle {
        width: 22rem;
        height: 100rem;

        top: -2rem;
    }

    /* -------------- */
    /* HEADER STYLES */
    /* ------------ */

    /* Increase padding of header */
    header {
        padding: 1.5rem 3.5rem;
    }

    /* Increase width of logo */
    #logo {
        width: 10rem;
    }

    /* Increase font size of hamburger menu icon */
    #open-menu-icon {
        font-size: 6rem;
    }

    /* Increase gap between nav menu items */
    .nav-menu li {
        font-size: 2.6rem;

        margin-top: 1rem;
    }

    /* Increase nav link font size */
    .nav-link {
        font-size: 2.8rem;
    }

    /* ------------ */
    /* MAIN STYLES */
    /* ---------- */

    /* Increase margin top of main */
    main {
        margin-top: 4rem;
    }

    /* Increase font size of main headline */
    .main-headline {
        font-size: 2.6rem;
        line-height: 4rem;
    }

    /* Adjust width and margin for main text container */
    .main-text-container {
        width: calc(100vw - 28rem);
        margin-top: 15rem;
    }

    /* Adjust dimensions and padding for text container */
    .text-container {
        min-height: 53.8rem;
        width: calc(100% - 11rem);

        padding: 3rem;
    }

    /* Increase font size */
    .text-container h2 {
        font-size: 2.4rem;
    }

    /* Adjust position and size of cat poster */
    #cat-poster {
        width: 35rem;

        top: -10rem;
        right: -22rem;
    }

    /* Increase padding of quote div */
    .quote-div {
        padding: 3.5rem 0;
        gap: 3rem;
    }

    /* Increase size of cat owner picture */
    .cat-owner {
        width: 20rem;
    }

    /* Increase font size of quote */
    .quote {
        font-size: 2.8rem;
    }

    /* Increase font size of second headline */
    .second-headline {
        font-size: 2.8rem;

        margin-top: 4rem;
        padding: 2.5rem;
    }

    /* Increase font size of introduction text */
    .introduction {
        font-size: 3.2rem;

        margin-top: 4rem;
    }

    /* Adjust gap, padding and margin of menu list */
    .menu-list {
        gap: 5rem;

        padding: 4rem 3rem;
        margin-top: 4rem;
    }

    /* Increase font size for menu listing */
    .li-container i {
        font-size: 3.6rem;
    }

    .li-container h2 {
        font-size: 2.8rem;
    }

    /* Increase margin of before/after container */
    .before-after-container {
        margin-top: 4rem;
    }

    /* Increase size of before/after texts */
    .ba-img-div h2 {
        font-size: 3.8rem;
        text-align: center;

        width: 20rem;
        padding: 1.2rem 0 1.5rem 0;
    }

    /* Increase margin top */
    .main-poster-container {
        margin-top: 4rem;
    }

    /* Increase width of poster */
    #main-poster {
        width: 55rem;
    }

    /* Increase vertical margin */
    .btn-container {
        margin: 4rem 0 8rem 0;
    }

    /* Increase font size */
    .free-guide-btn {
        font-size: 3.6rem;
        padding: 2.5rem 3rem;
    }

    /* Increase padding of footer */
    footer {
        padding: 3rem;
    }

    /* Increase size of footer text */
    footer h2 {
        font-size: 1.8rem;
    }
}